<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<style>
table {
  margin-left: auto;
  margin-right: auto;
}
</style>

  <h1 class="container text-center">Add a book</h1>
  <div class="container" style="max-width: 500px">
  <form method="post" enctype="multipart/form-data" class="container text-center border rounded">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      </table>
    <button class="btn btn-success m-3" type="submit">Add book</button>
  </form>
</div>
{% endblock %}