<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}

<div class="container text-center mt-3 mb-3">
    <form class="d-flex m-4" role="search" method="get" action="{% url 'book_list' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    {% for book in books %}
    <div class="row align-items-center border border-start-0">
        
        <div class="col b-5 border border-start-0">
          <img src="{{book.cover.url}}" style="width: 100px">
        </div>
        <div class="col">
          <div>Title:</div>
          <div style="font-weight: 700">{{book.title}}</div>
        </div>
        <div class="col">
          <div>Author:</div>
          {{book.author}}
        </div>
        <div class="col">
          <div>Publisher:</div>
          {{book.publisher}}
        </div>
        <div class="col">
          <div>Quantity:</div>
          {{book.quantity}}
        </div>
        <div class="col">
          <a href="/edit_book/{{book.id}}" class="btn btn-warning m-2" style="width: 100px">Edit</a>
          <a href="{{book.id}}" class="btn btn-danger m-2" style="width: 100px">Remove</a>
        </div>
    </div>
    {% endfor %}    
</div>

{% endblock %}
