<!DOCTYPE html>
{% extends "index.html" %} {% load static %} {% block main_content %}

<div class="container py-4">
  <div class="row g-4">
    {% for book in book %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100 shadow-sm">
        <div class="text-center pt-2">
          <img
            src="{{ book.cover.url }}"
            class="card-img-top rounded-top"
            style="object-fit: cover; width: auto; height: 270px"
            alt="book_cover_missing"
          />
        </div>
        <div class="card-body d-flex flex-column text-start">
          <div>
            <h5 class="card-title fw-bold">{{ book.title }}</h5>
          </div>
          <div class="mt-auto">
            <p class="mb-1"><strong>Author:</strong> {{ book.author }}</p>
            <p class="mb-1"><strong>Publisher:</strong> {{ book.publisher }}</p>
            <p class="mb-1"><strong>Quantity:</strong> {{ book.quantity }}</p>
          </div>
          <a href="#" class="btn btn-primary w-100 mt-2">Add to bag</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
