<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<style>
    a {
        text-decoration: none;
    }
</style>
<form class="container p-4 rounded" style="max-width: 400px; background-color: #C7D6D5; margin-top: 50px;">
  {% csrf_token %}
  <div class="row mb-3">
      <input type="text" class="form-control" id="inputText" placeholder="USERNAME" name="username">
  </div>
  <div class="row mb-3">
      <input type="password" class="form-control" id="inputPassword3" placeholder="PASSWORD" name="password">
  </div>
  <div class="container text-center">
    <button type="submit" class="btn btn-primary center" style="width: 100px">Sign in</button>
    <button type="button" class="btn btn-primary center" style="width: 100px"><a href="register.html" style="color: white">Register</a></button>
  </div>
</form>
{% endblock %}
    